<h1>Listing childdssses</h1>

<table>
  <thead>
    <tr>
      <th>Childdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @childdssses.each do |childdsss| %>
      <tr>
        <td><%= childdsss.childdf %></td>
        <td><%= link_to 'Show', childdsss %></td>
        <td><%= link_to 'Edit', edit_childdsss_path(childdsss) %></td>
        <td><%= link_to 'Destroy', childdsss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Childdsss', new_childdsss_path %>
