<h1>Listing childdfs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @childdfs.each do |childdf| %>
      <tr>
        <td><%= childdf.name %></td>
        <td><%= childdf.parent %></td>
        <td><%= link_to 'Show', childdf %></td>
        <td><%= link_to 'Edit', edit_childdf_path(childdf) %></td>
        <td><%= link_to 'Destroy', childdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Childdf', new_childdf_path %>
